/* import google font */

@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');
body {
    background: #001c4a;
}


/* navbar brand */

.navbar-brand {
    font-family: 'Frijole', cursive;
    color: white !important;
    font-size: 30px;
    font-weight: bold;
}


/* meme image card */

.card {
    margin: 50px 0;
}


/* meme stream heading */

.stream {
    background-image: linear-gradient(to right top, #cbd5e3, #c4cdde, #bdc5d8, #b7bdd3, #b2b5cd);
    border-radius: 2rem;
    box-shadow: 0 4px 21px -1px #bdc5d8;
    font-family: 'Frijole', cursive;
    margin: 60px 0;
}


/* ******** DARK MODE TOGGLER ******** */

body.dark {
    background: #15161a !important;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}


/* ******* Modal ******  */

.modal-header {
    border: none;
    background: #001c4a;
    color: white;
}

.modal-footer {
    border: none;
}


/* ***** Search bar ****** */

#searchBar {
    width: 40%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 5px;
    right: 31%;
}


/* ******* Meme item ******* */

#meme {
    margin: 2.4rem 0;
}

.meme-item {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
}

.meme-img img {
    width: 100%;
    height: 360px;
    display: block;
}

.meme-name {
    padding: 1.5rem 0.5rem;
    background-image: linear-gradient(to right top, #508de3, #618ee4, #6f90e5, #7c91e6, #8893e7);
    text-align: start;
}

.meme-name button {
    float: right;
}

.meme-name h3 {
    font-size: 1.4rem;
}


/* ****** Scroll Bar ****** */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#d8d6e2), to(#090f69));
    box-shadow: inset 2px 2px 2px rbga(255, 255, 255, 0.25), inset -2px -2px -2px rbga(0, 0, 0, 0.25);
}


/* Media Queries */

@media screen and (min-width: 768px) {
    #meme {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meme-item {
        margin: 0;
    }
    .meme-details {
        width: 700px;
    }
}

@media screen and (min-width: 992px) {
    #meme {
        grid-template-columns: repeat(3, 1fr);
    }
}